article{
    max-width: 400px;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}

.qr{
    max-width: 250px;
}

.qr img{
    width: 100%;
}

.articuloQr h1, .articuloQr h2{
    text-align: center;
    margin: 8px 0;
}

.articuloQr h1{
    font-size: 30px;
}

.articuloQr h2{
    font-size: 20px;
}

.botones a{
    text-decoration: none;
}

.botones button:nth-child(1){
    border: solid 2px black;
    background-color: white;
    color: black;
}

.botones button:nth-child(1):hover{
    border: solid 2px black;
    background-color: black;
    color: white;
}

.botones button{
    background-color: black;
    color: white;
    font-weight: 400;
    border: none;
    height: 38px;
    padding: 8px 20px;
    border: solid 2px black;
}

.botones button:hover{
    background-color: #2592a9;
    color: white;
    border: solid 2px #2592a9;
}